
<h2>Create Module</h2>

@using (Html.BeginForm("Create", "Module", FormMethod.Post, new { @id = "target", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <input name="Course" value="@ViewBag.Course" hidden/>
    <div class="form-group">
        <label>Module Name</label>
        <input name="name" type="text" class="form-control" placeholder="Module Name" style="margin-left: 17px;" required>
    </div>
    <div class="form-group">
        <label>Course Code</label>
        <input name="CourseCode" type="text" class="form-control" value="@ViewBag.CourseCode" style="margin-left: 17px;" readonly="readonly">
    </div>
    
    <button type="submit" class="btn btn-default">Create</button>
}
