
<h3>@ViewBag.Module.Name Homework</h3>
<br>

@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm("UploadFile", "Module", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="">
            <input type="text" name="Module" value="@ViewBag.Module" style="display: none"/>
            <input type="file" id="Avatar" name="Files" class="btn"/>
            <br/>
            <input type="submit" value="Upload Homework" class="btn btn-default" />
        </div>
    </div>
}