@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="jumbotron">
    <h1>EUni</h1>
    <p class="lead">Online and distance learning at EUniversity offers a new way of combining innovative learning and teaching techniques with interaction with teachers and fellow students from around the world.
</p>
    
</div>

<div class="row">
    <div>
        <p style="margin-left:20px;">
            E-Uni is an online platform for students to learn and practice courses offered by University.
        </p>
    </div>
    
</div>

