

<h2>Assign Teacher To a Course</h2>
<br>
<form>
    <div class="form-group">
        <label>Teacher:</label>
        <select class="form-control" style="margin-left: 17px;" required>
            @foreach (var teacher in ViewBag.Teachers)
            {
                <option>@(((string)teacher))</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Course:</label>
        <select class="form-control" style="margin-left: 17px;" required>
            @foreach (var course in ViewBag.Courses)
            {
                <option>@course.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-default">Assign</button>
</form>
