
@{
    if (ViewBag.Modules.Count != 0)
    {
        <h3>Course (@ViewBag.Modules[0].CourseCode)</h3>
        <ul class="list-unstyled">
            @foreach (var module in ViewBag.Modules)
            {
                <li>
                    @using (Html.BeginForm("Index", "Module"))
                    {
                        <input name="Module" value="@module" style="display: none" />
                        <input name="Course" value="@ViewBag.Course" style="display: none" />
                        <input type="submit" class="btn-link" style="color: dodgerblue" value="@(((string) module.Name))" />
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <h4>No Modules for this course</h4>
    }
}



