

<h3>Course (@ViewBag.Modules[0].CourseCode)</h3>
<ul class="list-unstyled">
    @foreach (var module in ViewBag.Modules)
    {
        <li>
            @Html.ActionLink((string)(module.Name), "Index", "Module", new { Module = module }, new { @class = "" })
        </li>
    }
</ul>