
<h3>Course</h3>
<ul class="list-unstyled">
    @foreach (var module in ViewBag.Modules)
    {
        <li>
            @Html.ActionLink((((string)module)), "Index", "Module", new { c = ViewBag.c }, new { @class = "" })
        </li>
    }
</ul>