@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datepicker")



<h2>Create course</h2>
<br>
@using (Html.BeginForm("CreateCourse", "Courses", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@id = "target", @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Course Name</label>
        <input name="Name" type="text" class="form-control" placeholder="Course Name" style="margin-left: 17px;" required>
    </div>
    <div class="form-group">
        <label>Course Code</label>
        <input name="CourseCode"type="text" class="form-control" placeholder="Course Code" style="margin-left: 17px;" required>
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <input name="StartDate" type='text' class="form-control" id='sandbox-container1' placeholder="Starting" required/>
                </div>
                <script type="text/javascript">

                    $('#sandbox-container1').datepicker({
                        format: 'dd/mm/yyyy',
                        startDate: '-5y'
                    });

                </script>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>End Date</label>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <input name="EndDate" type='text' class="form-control" id='sandbox-container2' placeholder="Ending" required/>
                </div>
                <script type="text/javascript">

                    $('#sandbox-container2').datepicker({
                        format: 'dd/mm/yyyy',
                        startDate: '-5y'
                    });

                </script>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Create</button>
}

@*@{

    foreach (var course in ViewBag.Courses)
    {
        <p>@course</p>
    }
}*@