@using EUni_Client.Services
﻿<h2>Courses</h2>
<br>


<br>
<footer>
    @if (Session[ServiceNames.ApiService] != null)
    {
        var role = Session.GetApiService().UserRole;
        switch (role)
        {
            case UserRole.Student:
                Html.RenderPartial("_StudentViewCourses");
                break;
            case UserRole.Teacher:
                Html.RenderPartial("_TeacherCreateCourse");
                break;
            case UserRole.Admin:
                Html.RenderPartial("_AdminAssignTeacher");
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
    <br>
    @*@Html.ActionLink("Create course", "Create", "Courses", new {area = ""}, new {@class = "btn btn-default", @style = "margin-right: 20px"})*@
    @*@Html.ActionLink("Assign teacher", "AssignTeacher", "Courses", new {area = ""}, new {@class = "btn btn-default"})*@

</footer>
