
<h2>title</h2>
<br />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
@Scripts.Render("~/bundles/jquery")
<div id="summernote">Hello Summernote</div>
<script>
    $(document).ready(function () {
        $('#summernote').summernote();
    });
</script>