<h2>Video Conference</h2>

<script src="https://apis.google.com/js/platform.js"></script>
<br />
<div id="placeholder-div"></div>
<script>
    gapi.hangout.render('placeholder-div', { 'render': 'createhangout', 'widget_size': '200' });
</script>