@Scripts.Render("~/bundles/angular")


<h2>Logs</h2>

@*<div ng-App="LogsApp" ng-controller="LogsController as ctr">
    @foreach (var log in ViewBag.Logs)
    {
        <p>@log</p>
    }

</div>
<script>
    var LogsApp = angular.module('LogsApp', ['ng-animate']);
    LogsApp.controller('LogsController', function() {});
</script>*@

<div ng-app ng-init="names=['Igor Minar', 'Brad Green', 'Dave Geddes', 'Naomi Black', 'Greg Weber', 'Dean Sofer', 'Wes Alvaro', 'John Scott', 'Daniel Nadasi'];">
    <div class="well" style="margin-top: 30px; width: 200px; overflow: hidden;">
        <form class="form-search">
            <div class="input-append">
                <input type="text" ng-model="search" class="search-query" style="width: 80px">
                <button type="submit" class="btn">Search</button>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li ng-animate="'animate'" ng-repeat="name in names | filter:search">
                    <a href="#"> {{name}} </a>
                </li>
            </ul>
        </form>
    </div>
</div>
